html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: rich-eatin;
    src: url(./rich-eatin.otf);
}

:root {
    --footerbuttoncolors: rgb(105, 107, 56);
    --footerbuttonactive: rgb(80, 82, 43);
    --shadows: 0px 10px 30px -15px black;
}

.allcontainer {
    display: flex;
    height: 100vh;
    
}

.imageside {
    flex: 1 1 0;
    position: relative;
    width: 20%;
    overflow: hidden;
    
}

.imageside img {
    height: 100%;
    width: 100%;
}

.imagecaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 25%;
    font-size: 5vw;
    padding: 2vh;
    font-family: rich-eatin, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}

.imagecaption img {
    width: 5vw;
    height: 5vw;
}

.formside {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    
}

.headerpart,
.footerpart, 
.formpart {
    flex: 1 1 33.3%;
    background-color: rgb(196, 196, 196, 0.2);
    padding-left: 7vh;
    padding-right: 20vh;
    box-sizing: border-box;
}

.headerpart {
    padding-top: 9vh;
}

div > h1 {
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.formpart {
    background-color: white;
    box-shadow: var(--shadows);
}

form > p {
    padding: 2vh 0 2vh 0;
    font-size: 2.5vh;
}

form > div {
    display: flex;
    padding-bottom: 2.5vh;
}

input:invalid {
    border-color: rgb(255, 0, 0, 0.5)
}

form div p > input {
    height: 3vh;
    width: 20vh;
    font-size: 1.6vh;
    border-radius: 10px;
    border-color:#E5E7EB;
    border-width: 7px;
    border-style: solid;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

form div p > input:focus {
    border-color: rgb(21, 0, 255, 0.4);
    outline: none;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.224);
}

form div p > input::placeholder {
    opacity: 0.5;
}


form div > p + p {
    padding-left: 15vh;
}

label {
    font-size: 1.3vh;
}

div > p {
    display: flex;
    flex-direction: column;
}

.footerpart {
    padding-top: 30px;
    
}

.footerpart > button {
    margin: 3vh 0;
    padding: 2vh 5vh;
    font-size: 2vh;
    background-color: rgb(105, 107, 56);
    color: white;
    border-style: none;
    border-radius: 20px;
    box-shadow: var(--shadows);
}

.footerpart > button:active {
    box-shadow: inset var(--shadows);
    background-color: var(--footerbuttonactive);
    cursor: pointer;
}

.footerpart > button:hover {
    cursor: pointer;
}

.footerpart p {
    display: block;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: var(--footerbuttoncolors);
}

a:active {
    color: var(--footerbuttonactive);
}