html, body, div, h1, p, a, img, form, label   {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: rich-eatin;
    src: url(./rich-eatin.otf);
}

:root {
    --footerbuttoncolors: rgb(105, 107, 56);
    --footerbuttonactive: rgb(80, 82, 43);
    --shadows: 0px 3px 10px -4px black;
}

.formside > * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.allcontainer {
    display: flex;
    height: 100vh;
}

.imageside {
    flex: 1 1 0;
    position: relative;
    overflow: hidden;
    min-width: 20%;
    height: 100%;
}

@media (max-width: 600px){
    .imageside {
      display: none;
    }
  }

.imageside img {
    height: 100%;
    width: 100%;
}

.imageside > p {
    position: absolute;
    top: 95%;
    left: 22%;
    color: white;
    font-size: 0.9vw;
}

.imagecaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 25%;
    font-size: 5vw;
    padding: 2vh;
    font-family: rich-eatin, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}

.imagecaption img {
    width: 5vw;
    height: 5vw;
}

.formside {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
}

.headerpart,
.footerpart, 
.formpart {
    flex: 1 1 33.3%;
    background-color: rgb(196, 196, 196, 0.2);
    padding-left: 7vh;
    padding-right: 20vh;
    box-sizing: border-box;
}

.headerpart {
    padding-top: 12vh;
}

div > h1 {
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.formpart {
    background-color: white;
    box-shadow: var(--shadows);
}

#formheader {
    padding: 2vh 0 2vh 0;
    font-size: 2.5vh;
}

form > div {
    display: flex;
    padding-bottom: 4vh;
    
}

input:invalid {
    border-color: rgb(255, 0, 0, 0.5);
    transition: border 500ms;
}

input:invalid:focus {
    border-color: rgb(255, 0, 0, 0.5);
}

input[type="tel"]:invalid + span::after,
input[type="email"]:invalid + span::after {
    content: 'Incorrect format or not finished!';
    font-size: 1.3vh;
    color: red;
    position: absolute;
    margin-top: 2px;
}

#confirm:invalid + span::after {
    content: 'Passwords not matching!';
    font-size: 1.3vh;
    color: red;
    position: absolute;
    margin-top: 2px;
}


input:required {
    border-color:#E5E7EB;
}

input {
    height: 3vh;
    width: clamp(120px, 250px, 15vw);
    font-size: 0.8rem;
    border-radius: 2px;
    border-color:#E5E7EB;
    border-width: 1.5px;
    border-style: solid;
    padding: 0 0 0 5px;
    box-sizing: border-box;
}

form div p > input:focus {
    border-color: rgb(21, 0, 255, 0.4);
    transition: border 500ms;
    outline: none;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.224);
}

form div p > input::placeholder {
    opacity: 0.5;
    font-size: 100%;
}


form div > p + p {
    padding-left: 6vw;
}

label {
    font-size: 1.3vh;
}

div > p {
    display: flex;
    flex-direction: column;
}

#sub {
    flex-direction: row-reverse;
    padding: 0 0 0 6vw;
    align-items: flex-end;
    gap: 1vw;
    
}

input#subscribe {
    margin: 0;
    display: flex;
    width: 20px;
    height: 20px;
    appearance: none;
    color: rgb(37, 11, 116);
    border-color: rgb(26, 177, 31, 0.3);
    box-shadow: none;
    margin-bottom: 1px;
}

input#subscribe::before {
    content: 'X';
    font-size: 15px;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.2s ease-out;
    background-color: rgb(37, 11, 116);

}

input#subscribe:checked::before {
    transform: translate(-1.5px, 0px) scale(1.3, 0.8);
    transition: all 0.2s cubic-bezier;
    
}

#sub label {
    padding-bottom: 5%;
}

.footerpart {
    padding-top: 30px;
    
}

.footerpart > button {
    margin: 3vh 0;
    padding: 2vh 5vh;
    font-size: 2vh;
    background-color: rgb(105, 107, 56);
    color: white;
    border-style: none;
    border-radius: 5px;
    box-shadow: var(--shadows);
}

.footerpart > button:hover {
    background-color: var(--footerbuttonactive);
}

.footerpart > button:active {
    box-shadow: inset var(--shadows);
    background-color: var(--footerbuttonactive);
    cursor: pointer;
}

.footerpart > button:hover {
    cursor: pointer;
    background-color: rgb(80, 82, 43);
}

.footerpart p {
    display: block;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: var(--footerbuttoncolors);
}

a:active {
    color: var(--footerbuttonactive);
}